# Introducci√≥n a Python aplicado a las Ciencias Sociales

### Talleres Introductorios Q-Lab 2024-II
### Encargadas: Luc√≠a D√≠az y Brisa Cruz

## Objetivos de esta sesi√≥n üêº

1.   Aprender a unir bases de datos en Python ü§ù
2.   Utilizar Python para realizar an√°lisis estad√≠sticos simples üîç
3.   Generar descriptivos e inferencias b√°sicas de los datos üò∏

## [Recordatorio] Evaluaci√≥n

***Asistencia***

- Es necesario asistir al 75% de las sesiones.

**Tarea**

- Dejaremos 1 tarea al finalizar las 5 sesiones, que ser√° realizada en grupo. Ser√° elegir una base de datos y hacer un an√°lisis descriptivo de 5 variables (estad√≠sticos b√°sicos con descripci√≥n breve y gr√°ficos). Se tendr√° plazo hasta el mi√©rcoles 21 (11:59pm).
  - No es necesario esperar hasta la √∫ltima sesi√≥n para empezar la tarea, tods las sesiones aprenderan algo √∫til para el proyecto.
  - Se realizar√° en grupo de 3-5 personas. Pueden apuntarse aqu√≠: https://docs.google.com/spreadsheets/d/1zwuFgFiNCTY5yzwr-3mW09dh15K2aoUtePKQNsY9oTw/edit?usp=sharing


**Por favor no se apunten ahora y miren la clase.**

## ¬øQu√© es Python?


Python es un lenguaje de programaci√≥n, el cual tiene muchas aplicaciones: an√°lisis de datos, desarrollo web, creaci√≥n de aplicaciones...

Pero, desde las Ciencias Sociales, nos interesa para el **an√°lisis de datos**.

Funciones para leer archivos de la librer√≠a pandas

- csv: read_csv
- xlsx: read_excel
- spss: read_spss (terminaci√≥n .sav)
- sql: read_sql
- y m√°s!

# **Secci√≥n 1: Importar y unir bases de datos (*dataframes*)**

## 1. Importando los datos

Empezamos importando las dos bases de datos (Enaho01a-2023-500 and Enaho01A-2023-300) desde sus respectivos archivos CSV. Una tiene informaci√≥n sobre temas educativos del encuestado y otra sobre temas de empleo.

- En este caso, estamos uniendo dos secciones o m√≥dulos diferentes de una misma fuente (la ENAHO).

- Sin embargo, el proceso es el mismo para unir bases de diferentes fuentes. Por ejemplo, Censo + ENAHO o ENAHO + datos RENIEC o ENAHO + datos MEF. Esto se hace a partir de una columna com√∫n en alg√∫n nivel de an√°lisis, por lo general, un c√≥digo que previene la variaci√≥n en la redacci√≥n (id, ubigeo, etc.).

In [1]:
import os
from google.colab import drive

In [2]:
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [3]:
os.chdir("/content/drive/MyDrive/datos_python") # configuramos directorio, seg√∫n el nombre de nuestra carpeta

In [4]:
import pandas as pd # librer√≠a necesaria para importar dfs

# Importar conjuntos de datos
enaho_educa = pd.read_csv('Enaho01A-2023-300.csv', encoding='ISO-8859-10') # m√≥dulo educaci√≥n
enaho_trabajo = pd.read_csv('Enaho01a-2023-500.csv', encoding='ISO-8859-10') # m√≥dulo trabajo

# Ojeamos las primeras filas para asegurarnos de que todo carg√≥ O.K.
print(enaho_trabajo.head())
print(enaho_educa.head())

<ipython-input-4-436a08f63868>:4: DtypeWarning: Columns (26,32,60) have mixed types. Specify dtype option on import or set low_memory=False.
  enaho_educa = pd.read_csv('Enaho01A-2023-300.csv', encoding='ISO-8859-10') # m√≥dulo educaci√≥n
<ipython-input-4-436a08f63868>:5: DtypeWarning: Columns (218,223,228,231,234,235,236,241,246,251,256,261,266,271,276,281,286,291,296,301,306,311,316,321,326,331,338,341,344,347,350,353,356,359,363,365,367,369,371,373,375,377,379,381,385,386,387,388,389,393,485,486,487,488,935,936,937,938,939,940,941,942,943,944,1015,1018,1023) have mixed types. Specify dtype option on import or set low_memory=False.
  enaho_trabajo = pd.read_csv('Enaho01a-2023-500.csv', encoding='ISO-8859-10') # m√≥dulo trabajo

    A≈ÖO  MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO  DOMINIO  ESTRATO  \
0  2023    1      5030         2     11         1   10201        7        4
1  2023    1      5030         2     11         2   10201        7        4
2  2023    1      5030        11     11         1   10201        7        4
3  2023    1      5030        11     11         2   10201        7        4
4  2023    1      5030        11     11         3   10201        7        4

   CODINFOR  ...  I538E1  I5294B  I5404B  I541A  OCU500  OCUPINF  EMPLPSEC  \
0         1  ...                                      1        2
1         2  ...                                      1        2
2         1  ...                                      1        1         1
3         2  ...                                      1        1         1
4         3  ...                                      1        1         1

      FAC500A  NCONGLOME SUB_CONGLOME
0  165.623856       6618            0
1  112.328087       6618            0
2   96.035370       6618            0
3   86.868881       6618            0
4  185.492355       6618            0

[5 rows x 1414 columns]
    A≈ÖO  MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO  DOMINIO  ESTRATO  \
0  2023    1      5030         2     11         1   10201        7        4
1  2023    1      5030         2     11         2   10201        7        4
2  2023    1      5030         2     11         3   10201        7        4
3  2023    1      5030         2     11         4   10201        7        4
4  2023    1      5030        11     11         1   10201        7        4

   CODINFOR  ...  I311D$5  I311D$6  I311D$7  I3121C I3122C I315B    FACTOR07  \
0         1  ...                                                  118.374542
1         2  ...                                                  118.374542
2         2  ...                                                  118.374542
3         2  ...                          8                       118.374542
4         1  ...                                                  118.374542

    FACTORA07 NCONGLOME SUB_CONGLOME
0  165.623856      6618            0
1  112.328087      6618            0
2  120.091476      6618            0
3  110.974678      6618            0
4   96.035370      6618            0

[5 rows x 511 columns]

## 2. Explorando los datos

Antes de hacer la uni√≥n, es importante entender la estructura de ambas bases, para identificar las columnas que usaremos para juntarlas (aquella(s) que tengan en com√∫n)

In [5]:
# Checkeamos las estructura de cada base o df
print(enaho_trabajo.info())
print(enaho_educa.info())

# Buscamos columnas en com√∫n para juntar (como, household IDs, individual IDs)
common_columns = set(enaho_trabajo.columns).intersection(set(enaho_educa.columns))
print("Common columns:", common_columns)

# cuando estamos seguros de esta informaci√≥n, podemos obviar este paso

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86654 entries, 0 to 86653
Columns: 1414 entries, A≈ÖO to SUB_CONGLOME
dtypes: float64(1), int64(28), object(1385)
memory usage: 934.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108354 entries, 0 to 108353
Columns: 511 entries, A≈ÖO to SUB_CONGLOME
dtypes: float64(2), int64(21), object(488)
memory usage: 422.4+ MB
None
Common columns: {'TICUEST01A', 'CODPERSO', 'P207', 'SUB_CONGLOME', 'CONGLOME', 'NCONGLOME', 'A≈ÖO', 'P206', 'MES', 'P205', 'P209', 'UBIGEO', 'P301A', 'CODINFOR', 'VIVIENDA', 'P203', 'IMPUTADO', 'P208A', 'DOMINIO', 'HOGAR', 'P204', 'ESTRATO'}

La parte final del c√≥digo, "Common columns" (columnas en com√∫n), nos indica lo que queremos saber: aquellas variables que comparten nuestras bases de datos o *dataframes*. Sin embargo, es preciso indicar que no es igual de v√°lido hacer la uni√≥n de las bases a partir de cualquier columna com√∫n, sino a partir de aquellas que representen un identificador √∫nico para cada caso (encuestado/a). En el caso de la Enaho, este identificador es un c√≥digo compuesto por 5 variables: 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO'.

Ahora s√≠, vamos con la uni√≥n de dataframes.

## 3. Uniendo las bases de datos

In [6]:
# Hacemos el merge a partir de la columna en com√∫n

columnas_comunes = ['MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']
enaho_unido = pd.merge(enaho_educa, enaho_trabajo, on=columnas_comunes, how='inner')

# Mostramos las primeras filas del dataframe (df) unido
print(enaho_unido.head())

# ahora tenemos 1921 columnas

   A≈ÖO_x  MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO_x  DOMINIO_x  \
0   2023    1      5030         2     11         1     10201          7
1   2023    1      5030         2     11         2     10201          7
2   2023    1      5030        11     11         1     10201          7
3   2023    1      5030        11     11         2     10201          7
4   2023    1      5030        11     11         3     10201          7

   ESTRATO_x  CODINFOR_x  ...  I538E1  I5294B  I5404B  I541A OCU500 OCUPINF  \
0          4           1  ...                                     1       2
1          4           2  ...                                     1       2
2          4           1  ...                                     1       1
3          4           2  ...                                     1       1
4          4           3  ...                                     1       1

  EMPLPSEC     FAC500A NCONGLOME_y SUB_CONGLOME_y
0           165.623856        6618              0
1           112.328087        6618              0
2        1   96.035370        6618              0
3        1   86.868881        6618              0
4        1  185.492355        6618              0

[5 rows x 1920 columns]

Ahora pasamos a confirmar que las variables que nos interesa analizar est√°n en el df unido.

In [7]:
# imprimos el resultado de:
print(enaho_unido['P301A'])
# llamar la variable 'P301A'
# del dataframe enaho_unido

KeyError: 'P301A'

In [8]:
print(enaho_educa['P301A'])

0          8
1         10
2          3
3          3
4          4
          ..
108349     1
108350     5
108351     3
108352     4
108353     6
Name: P301A, Length: 108354, dtype: int64

Al parecer P301A no est√° en enaho_unido, pero s√≠ en la versi√≥n original, enaho_educa

In [9]:
print(enaho_unido['P302'])

0
1
2
3
4
        ..
86649    2
86650
86651    1
86652
86653
Name: P302, Length: 86654, dtype: object

In [10]:
print(enaho_unido['P300A'])

0        4
1        4
2        4
3        4
4        4
        ..
86649    4
86650    4
86651    4
86652    4
86653    4
Name: P300A, Length: 86654, dtype: int64

In [11]:
print(enaho_unido['P524A1'])

0        1800
1
2
3
4
         ...
86649
86650
86651
86652
86653     120
Name: P524A1, Length: 86654, dtype: object

In [12]:
print(enaho_unido['P523'])

0        4
1
2
3
4
        ..
86649
86650
86651
86652
86653    2
Name: P523, Length: 86654, dtype: object

# **Secci√≥n 2: Generaci√≥n de estad√≠sticos descriptivos: tablas de frecuencia y an√°lisis de distribuci√≥n de datos**

Trabajaremos con 3 variables categ√≥ricas y una variable num√©rica que crearemos a partir de otras dos:

1.   El √∫ltimo a√±o o grado de estudios y nivel que aprob√≥ la persona (P301A)
2.   Si la persona sabe leer y escribir (P302A)
3.   El idioma o lengua materna que aprendi√≥ la persona en su ni√±ez (P300)
4.   Ingreso diario promedio en soles de la persona (P523 y P524A1)

Las **variables categ√≥ricas** contienen un n√∫mero finito de categor√≠as o grupos distintos. Los datos categ√≥ricos pueden no tener un orden l√≥gico. Por ejemplo, los predictores categ√≥ricos incluyen sexo, tipo de material y m√©todo de pago.

*Fuente: Minitab*

Primero veamos la distribuci√≥n de nuestra muestra en cada categor√≠a, en t√©rminos absolutos y porcentuales, por separado en cada variable. El an√°lisis de una variable categ√≥rica (ordinal o nominal) puede incluir elementos como:

‚Ä¢ los **niveles** que tiene la variable

‚Ä¢ si los datos se distribuyen **uniformemente** o no

‚Ä¢ la **proporci√≥n** sobre el total que representa cada nivel

### 1. √öltimo grado de estudios que aprob√≥ la persona(P301A)

In [13]:
# analizar la distribuci√≥n en este caso es tan sencillo como contar los valores en cada categor√≠a
enaho_educa.value_counts('P301A',
                         sort = False) # sort es ordenar. cuando especificamos que es falso, Python ordena en funci√≥n a nuestras categor√≠as

# cuando decimos que es verdadero, ordena en funci√≥n la distribuci√≥n de valores

P301A
1      6520
2      5039
3     21480
4     11748
5     16691
6     22576
7      3991
8      6916
9      5203
10     6674
11     1304
12      107
99      105
Name: count, dtype: int64

Ahora veamos una manera m√°s **pro** de hacer esto. Para hacer m√°s amigable la interpretaci√≥n:
1. Recodificamos las variables con los valores del dicionario ENAHO

2. Aplicamos distribuci√≥n porcentual

In [14]:
# antes de recodificar, comprobemos la estructura de los datos
enaho_educa['P301A'].unique()
# 99 representa missing values

array([ 8, 10,  3,  4,  5,  6,  2,  9,  1,  7, 11, 12, 99])

In [15]:
# con la funci√≥n "replace" reemplazamos valores. Para esto, creamos un diccionario con nuestros valores.

# vamos a guardar el resultado en enaho_unido con el mismo nombre

enaho_unido['P301A'] = enaho_educa['P301A'].replace({1: 'Sin nivel',
    2: 'Educaci√≥n inicial',
    3: 'Primaria incompleta',
    4: 'Primaria completa',
    5: 'Secundaria incompleta',
    6: 'Secundaria completa',
    7: 'Superior no universitaria incompleta',
    8: 'Superior no universitaria completa',
    9: 'Superior universitaria incompleta',
    10: 'Superior universitaria completa',
    11: 'Maestr√≠a/Doctorado',
    12: 'B√°sica especial',
    99: 'Missing value'})

# el objetivo de guardarla en enaho_unido es luego hacer un an√°lisis cruzado con una variable de educaci√≥n y otra de trabajo

In [16]:
# Ahora vemos la distribuci√≥n porcentual (normalizamos distribuci√≥n del 0 al 1 y luego multiplicamos por 100)

enaho_unido.value_counts('P301A', normalize=True)*100

# Antes de agregar esos par√°metros, podemos hacer un conteo
# Como se puede ver, hemos perdido casos, debido a que enaho_unido tiene m√°s casos que enaho_trabajo

P301A
Secundaria completa                     20.806887
Primaria incompleta                     19.737115
Secundaria incompleta                   15.316085
Primaria completa                       10.854663
Superior no universitaria completa       6.447481
Superior universitaria completa          6.278995
Sin nivel                                5.885476
Superior universitaria incompleta        4.956494
Educaci√≥n inicial                        4.599903
Superior no universitaria incompleta     3.696309
Maestr√≠a/Doctorado                       1.229026
B√°sica especial                          0.107323
Missing value                            0.084243
Name: proportion, dtype: float64

### 2. La persona sabe leer y escribir (P302)

Esta variable la analizaremos y recodificaremos dentro del mismo enaho_educa, pues no planeamos usarla para an√°lisis cruzado m√°s adelante.

In [17]:
# analizar la distribuci√≥n en este caso es tan sencillo como contar los valores en cada categor√≠a
enaho_educa.value_counts('P302', normalize = False, # le agregamos esto para que deje de normalizar, a veces se le queda y lo hace autom√°tico
                         sort = False) # sort es ordenar. cuando especificamos que es falso, Python ordena en funci√≥n a nuestras categor√≠as
# cuando decimos que es verdadero, ordena en funci√≥n la distribuci√≥n de valores

P302
     75103
1    19509
2    13637
9      105
Name: count, dtype: int64

In [18]:
enaho_educa['P302'].unique() # Comprobamos que hay una clase de valores sueltos (sin etiquetas) en P302.

array([' ', '1', '2', '9'], dtype=object)

In [19]:
enaho_educa['P302'].info() # Comprobamos que P302 y P301A tienen la misma estructura (objetos)

<class 'pandas.core.series.Series'>
RangeIndex: 108354 entries, 0 to 108353
Series name: P302
Non-Null Count   Dtype
--------------   -----
108354 non-null  object
dtypes: object(1)
memory usage: 846.6+ KB

In [20]:
#  con la funci√≥n "replace" reemplazamos valores. Para esto, creamos un diccionario con nuestros valores.
enaho_educa['recode_P302'] = enaho_educa['P302'].replace({'1': 'Sabe leer y escribir',
    '2': 'No sabe',
    '9': 'Missing value'})

In [21]:
# ahora hacemos el conteo. Comprobamos que la distribuci√≥n es la misma que con la variable original
enaho_educa.value_counts('recode_P302', normalize = False)

recode_P302
                        75103
Sabe leer y escribir    19509
No sabe                 13637
Missing value             105
Name: count, dtype: int64

Ahora vamos a asumir que la **ENAHO se equivoc√≥**; es un poco imposible que tan pocas personas sepan leer y escribir. Por ejemplo, INEI reporta que seg√∫n la ENAHO "se encuentra alfabetizada el 96,3% de la poblaci√≥n del √°rea urbana del pa√≠s y 85,4% del √°rea rural".

Fuente: https://m.inei.gob.pe/prensa/noticias/cobertura-de-alfabetizacion-en-el-peru-llega-al-941-de-los-peruanos-de-15-a-mas-anos-de-edad-9949/

As√≠ que vamos a recodificar el valor sin etiqueta como "Sabe leer y escribir", y los 1s y 2s como "No sabe".

In [22]:
enaho_educa['recode_P302'] = enaho_educa['P302'].replace({'1': 'Sabe leer y escribir',
    '2': 'No sabe',
    ' ': 'Sabe leer y escribir', # M√°s arriba vimos que hay una etiqueta que es literalmente un espacio ' '
    '9': 'Missing value'})

In [23]:
enaho_educa.value_counts('recode_P302', normalize = False)

recode_P302
Sabe leer y escribir    94612
No sabe                 13637
Missing value             105
Name: count, dtype: int64

In [24]:
enaho_educa.value_counts('recode_P302', normalize = True)*100

recode_P302
Sabe leer y escribir    87.317496
No sabe                 12.585599
Missing value            0.096905
Name: proportion, dtype: float64

Esta proporci√≥n (87.3%) tiene mucho m√°s sentido üòÉ.

### 3. El idioma o lengua materna que aprendi√≥ la persona en su ni√±ez (P300A)

Esta pregunta nos sirve para identificar el idioma o lengua materna que aprendi√≥ la persona encuestada en su ni√±ez.

In [25]:
# analizar la distribuci√≥n en este caso es tan sencillo como contar los valores en cada categor√≠a
enaho_unido.value_counts('P300A',
                         sort = False) # sort es ordenar. cuando especificamos que es falso, Python ordena en funci√≥n a nuestras categor√≠as

# cuando decimos que es verdadero, ordena en funci√≥n la distribuci√≥n de valores

P300A
1     15128
2      2087
3       377
4     67659
6       101
7        32
8       157
9        42
10      353
11      382
12      123
13       67
14       31
15       46
99       69
Name: count, dtype: int64

Ya sabemos que el siguiente paso es hacer m√°s amigable la interpretaci√≥n:

1. Recodificamos las variables con los valores del dicionario ENAHO

2. Aplicamos distribuci√≥n porcentual

In [26]:
# antes de recodificar, comprobemos la estructura de los datos
enaho_unido['P300A'].unique()
# 99 representa missing values

array([ 4,  1, 14,  8, 10,  2,  7, 11,  9,  6,  3, 12, 13, 15, 99])

In [27]:
# Como en los casos previos, recodificamos
enaho_unido['P300A'] = enaho_educa['P300A'].replace({
    1: 'Quechua',
    2: 'Aimara',
    3: 'Otra lengua nativa',
    4: 'Castellano',
    5: 'Lengua extranjera', # por alguna raz√≥n esta no sale en el diccionario, pero inferimos que toca agregarla
    6: 'Portugu√©s',
    7: 'Otra lengua extranjera',
    8: 'No escucha/no habla',
    9: 'Lengua de se√±as peruanas',
    10: 'Ashaninka',
    11: 'Awaj√∫n/Aguarun',
    12: 'Shipibo ‚Äì Konibo',
    13: 'Shawi / Chayahuita',
    14: 'Matsigenka / Machiguenga',
    15: 'Achuar',
    99: 'Missing value'
})

In [28]:
# Ahora vemos la distribuci√≥n porcentual (normalizamos distribuci√≥n del 0 al 1 y luego multiplicamos por 100)

enaho_unido.value_counts('P300A', normalize=True)*100

# Antes de agregar esos par√°metros, podemos hacer un conteo

P300A
Castellano                  80.485609
Quechua                     15.184527
Aimara                       1.881044
Awaj√∫n/Aguarun               0.604704
Otra lengua nativa           0.516999
Ashaninka                    0.492764
No escucha/no habla          0.184642
Shipibo ‚Äì Konibo             0.180026
Portugu√©s                    0.118864
Achuar                       0.084243
Missing value                0.084243
Shawi / Chayahuita           0.062317
Lengua de se√±as peruanas     0.049623
Matsigenka / Machiguenga     0.036928
Otra lengua extranjera       0.033466
Name: proportion, dtype: float64

### 4. Ingreso diario en soles (en la ocupaci√≥n principal de) la persona (P523 y P524A1)

Crearemos esta nueva variable combinando dos preguntas de la ENAHO:
1. Frecuencia de pago en la ocupaci√≥n principal del encuestado: Diario, semanal, quincenal o mensual (*En su ocupaci√≥n principal, ¬øA ud. le pagan: Diario/Semanal/Quincenal/Mensual?*).

2. Ingreso total en el periodo anterior: Incluye horas extras, bonificaciones, pagos por refrigerio, movilidad, comisiones, etc (*Cu√°nto fue su ingreso total en el(la) ... anterior, incluyendo las horas extras, bonificaciones, pago por concepto de refrigerio, movilidad, comisiones, etc.? - Monto S/. - Ingreso Total*).

La variable final ser√° **cuantitativa**, pero para construirla necesitamos primero la variable categ√≥rica de frecuencia de pago. Esto se debe a que la variable **'P524A1' no tiene una unidad de medida uniforme**: almacena ingresos en diferentes plazos temporales dentro de la misma columna.

Si no realizamos una transformaci√≥n adecuada, las **comparaciones entre casos ser√≠an inv√°lidas**. Por ejemplo, una persona podr√≠a haber reportado un ingreso de 500 soles diarios, mientras que otra podr√≠a haber registrado 500 soles mensuales, y no tendr√≠amos manera de saberlo a menos que usemos la informaci√≥n de 'P523'.

Para estandarizar los ingresos, **convertiremos todos los valores de P524A1 a una misma unidad temporal (diaria)**. Para ello, utilizaremos la variable'P523' para identificar la frecuencia de pago y aplicar el factor de conversi√≥n correspondiente (ej., dividir entre 30 si es mensual, entre 7 si es semanal, entre 15 si es quincenal, etc.). Cabe se√±alar que este c√°lculo es aproximado, ya que no contamos con informaci√≥n sobre la cantidad exacta de d√≠as trabajados por cada persona. Por ello, esta variable refleja m√°s una **estimaci√≥n de capacidad de gasto diario** que un ingreso exacto por d√≠a laborado.

Primero, vamos a unos descriptivos simples.

In [29]:
enaho_trabajo.value_counts('P523',
                         sort = False)

# Esta variable nos habla de los plazos de pagos
# Como podemos ver, tiene un gran n√∫meor de NAs, la gran mayor√≠a

P523
     61410
1      320
2     7033
3     1554
4    16337
Name: count, dtype: int64

In [33]:
import numpy as np

enaho_trabajo["P524A1"] = enaho_trabajo["P524A1"].replace(999999, np.nan) # esto es para que los missing values no sea lean como n√∫meros
enaho_trabajo["P524A1"] = pd.to_numeric(enaho_trabajo["P524A1"], errors="coerce") # nos aseguramos que est√© como n√∫mero
enaho_trabajo["P524A1"].describe(percentiles=[0.25, 0.5, 0.75])

count    24880.000000
mean      1329.497146
std       1504.975598
min          5.000000
25%        300.000000
50%       1000.000000
75%       1800.000000
max      28000.000000
Name: P524A1, dtype: float64

Tenemos 24 800 casos, que, como recordamos, est√°n en diferentes unidades (soles al d√≠a/semana/quincena y mes). Por ende, esta primera tabla no es informativa ni confiable (comparable).

Ahora s√≠, vamos a la acci√≥n. üòéü§Ø

In [39]:
# Creamos una copia de la variable de ingresos para no modificar la original
enaho_unido["ingreso_diario"] = enaho_trabajo["P524A1"]

# Aplicamos factores de conversi√≥n seg√∫n la frecuencia de pago (P523) para que todos est√©n en diario

enaho_unido['P523'] = enaho_trabajo['P523'].replace({
    1: 1,    # Pago diario, por ende, lo dejamos como est√°
    2: 7,    # Pago semanal
    3: 15,   # Pago quincenal
    4: 30    # Pago mensual
})

# Nos aseguramos que este resultado sea num√©rico
enaho_unido["P523"] = pd.to_numeric(enaho_unido["P523"], errors="coerce")

# Y reemplazamos valores usando la conversi√≥n (divisi√≥n para obtener ingreso diario)
enaho_unido["ingreso_diario"] = enaho_unido["ingreso_diario"] / enaho_unido["P523"]

Veamos qu√© tenemos ahora:

In [40]:
enaho_unido["ingreso_diario"].describe(percentiles=[0.25, 0.5, 0.75])

count    24880.000000
mean       353.774665
std        365.514937
min          2.500000
25%        125.000000
50%        256.250000
75%        450.000000
max       7000.000000
Name: ingreso_diario, dtype: float64

Estas cifras de ingreso diario son bastante m√°s f√°ciles de entender! Adem√°s, podemos comprobar que el conteo de casos v√°lidos (24 880) es similar al conteo de casos v√°lidos en P523 (32 244). Si fuera mayor, tendr√≠amos que preocuparnos.

Y, aunque no podemos interpretarlos como datos oficiales -porque el c√°lculo oficial de la ENAHO es m√°s complejo a√∫n (por ejemplo, nosotros **solo** consideramos ingresos en la ocupaci√≥n principal)- podemos confiar en la l√≥gica de nuestro procedimiento. Esto s√≠, el sueldo diario promedio en el Per√∫ est√° muy lejos de nuestro promedio obtenido, e incluso de la mediana (menos influencida por valores extremos).

Sueldo promedio en el Per√∫ 2023: https://elcomercio.pe/respuestas/tramites/cuanto-es-el-sueldo-promedio-en-el-peru-y-en-que-ciudad-se-gana-mas-segun-el-inei-salario-minimo-vital-tdpe-noticia/

# **Secci√≥n 3: An√°lisis de distribuci√≥n con cruce de variables**

En esta secci√≥n, filtraremos las variables relevantes para nuestro an√°lisis y construiremos un nuevo dataframe con ellas, el cual llamaremos "Capital Humano" (porque contiene variables de educaci√≥n y trabajo). A partir de esta muestra, exploraremos la distribuci√≥n de las variables clave y su relaci√≥n con otras dimensiones de inter√©s. Esto nos permitir√° obtener una visi√≥n m√°s clara (con prop√≥sitos pedag√≥gicos) sobre el capital humano en Per√∫ en 2023.

In [41]:
# paso 1: creamos un df que contenga solo la gente que trabaja o ha trabajado
enaho_unido.value_counts('P501') # esta informaci√≥n (el nombre de la variable) la encontramos en el Diccionario

P501
1    57119
2    29407
9      128
Name: count, dtype: int64

In [42]:
df_capital_humano = enaho_unido[enaho_unido['P501'] == 1] # comprobamos que nuestro nuevo df tenga el mismo n√∫mero de casos que el conteo del "1"

# Y, por motivos pr√°cticos, seleccionamos solo las columnas que nos interesan
df_capital_humano = df_capital_humano[['P501', 'ingreso_diario', 'P301A', 'P300A']]

In [43]:
df_capital_humano.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57119 entries, 0 to 86653
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   P501            57119 non-null  int64
 1   ingreso_diario  23909 non-null  float64
 2   P301A           57119 non-null  object
 3   P300A           57119 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 2.2+ MB

In [44]:
df_capital_humano.value_counts('P301A', normalize=True)*100

P301A
Secundaria completa                     20.754915
Primaria incompleta                     19.848037
Secundaria incompleta                   15.336403
Primaria completa                       10.936816
Superior no universitaria completa       6.426933
Superior universitaria completa          6.222098
Sin nivel                                5.847441
Superior universitaria incompleta        4.951067
Educaci√≥n inicial                        4.572909
Superior no universitaria incompleta     3.646773
Maestr√≠a/Doctorado                       1.253523
B√°sica especial                          0.124302
Missing value                            0.078783
Name: proportion, dtype: float64

In [45]:
df_capital_humano.value_counts('P300A', normalize=True)*100

P300A
Castellano                  80.526620
Quechua                     15.075544
Aimara                       1.967822
Awaj√∫n/Aguarun               0.553231
Otra lengua nativa           0.544477
Ashaninka                    0.490205
Shipibo ‚Äì Konibo             0.192580
No escucha/no habla          0.183827
Portugu√©s                    0.110296
Achuar                       0.080534
Missing value                0.078783
Shawi / Chayahuita           0.061276
Lengua de se√±as peruanas     0.054273
Matsigenka / Machiguenga     0.042018
Otra lengua extranjera       0.038516
Name: proportion, dtype: float64

La informaci√≥n que tenemos est√° a un alto nivel de detalle. Sin embargo, no ser√° muy pr√°ctico o visualmente amigable tener tantas categor√≠as cuando hagamos el cruce de informaci√≥n. Adem√°s, es posible notar que varias categor√≠as tienen una porci√≥n muy bajar de la muestra (como menos del 1%, en el caso de los idiomas maternos).

Entonces, vamos a simplificar las categor√≠as en ambas variables para reagrupar la muestra en categor√≠as m√°s amplias aunque suficientemente informativas.

In [49]:
# Simplificar categor√≠as

# Lengua materna

df_capital_humano['P300A'] = df_capital_humano['P300A'].replace({
    'Quechua': 'Quechua',
    'Aimara': 'Aimara',
    'Otra lengua nativa': 'Otra lengua nativa',  # Agrupamos varias lenguas ind√≠genas
    'Ashaninka': 'Otra lengua nativa',
    'Awaj√∫n/Aguarun': 'Otra lengua nativa',
    'Shipibo ‚Äì Konibo': 'Otra lengua nativa',
    'Shawi / Chayahuita': 'Otra lengua nativa',
    'Matsigenka / Machiguenga': 'Otra lengua nativa',
    'Achuar': 'Otra lengua nativa',
    'Castellano': 'Castellano',
    'Otra lengua extranjera': 'Lengua extranjera',
    'Lengua extranjera': 'Lengua extranjera',  # Agrupamos lenguas extranjeras
    'Portugu√©s': 'Lengua extranjera',
    'Lengua de se√±as peruanas': 'Missing value', # esto es por prop√≥sitos pedag√≥gicos/pr√°cticos
    'No escucha/no habla': 'Missing value', # esto tambi√©n
    'Missing value': 'Missing value'
})

# √öltimo nivel educativo concluido (ustedes pueden pensar y justificar mejores categor√≠as, solo es un ejemplo)

df_capital_humano['nivel_educativo'] = df_capital_humano['P301A'].replace({
    'Sin nivel': 'Sin nivel',
    'Educaci√≥n inicial': 'Sin nivel',
    'Primaria incompleta': 'Sin nivel',
    'Primaria completa': 'Primaria',
    'Secundaria incompleta': 'Primaria',
    'Secundaria completa': 'Secundaria',
    'Superior no universitaria incompleta': 'Secundaria',
    'Superior no universitaria completa': 'Superior',
    'Superior universitaria incompleta': 'Secundaria',
    'Superior universitaria completa': 'Superior',
    'Maestr√≠a/Doctorado': 'Maestr√≠a/Doctorado',
    'B√°sica especial': 'B√°sica especial'
})

In [47]:
# y quitamos los casos con valores perdidos o no √∫tiles
df_capital_humano = df_capital_humano[df_capital_humano['P300A'] != 'Missing value']
df_capital_humano = df_capital_humano[df_capital_humano['nivel_educativo'] != 'Missing value']

In [50]:
# probamos

df_capital_humano.value_counts('P300A', normalize=True)*100

P300A
Castellano            80.782606
Quechua               15.123468
Aimara                 1.974077
Otra lengua nativa     1.970564
Lengua extranjera      0.149285
Name: proportion, dtype: float64

Listo! Ahora tenemos una versi√≥n m√°s general de las variables, que agrupa a nuestra muestra en grupos m√°s grandes, y va a ser m√°s sencilla de interpretar.

In [51]:
# Paso 2: vemos la distribuci√≥n con valores absolutos, entre P sin_contrato
pd.crosstab(df_capital_humano['nivel_educativo'], df_capital_humano['P300A'], normalize= "all")*100 # cuando este par√°metro toma el valor "all" hacemos que nuestra distribuci√≥n se normalice respecto al total de nuestra muestra
            # es lo mismo si probamos con TRUE

P300A,Aimara,Castellano,Lengua extranjera,Otra lengua nativa,Quechua
nivel_educativo,,,,,
B√°sica especial,0.001756,0.098353,0.000000,0.000000,0.003513
Maestr√≠a/Doctorado,0.014050,1.164424,0.001756,0.007025,0.066739
Primaria,0.612947,20.638238,0.031613,0.684956,4.366153
Secundaria,0.583090,25.209877,0.031613,0.265201,3.343988
Sin nivel,0.611191,22.118796,0.045664,0.960694,6.459658
Superior,0.151041,11.552917,0.038639,0.052689,0.883417

**A este punto lo deseable ser√≠a interpretar preliminarmente nuestros resultados, sin embargo...**

Al analizar la tabla cruzada entre nivel educativo y lengua materna, es importante considerar ciertas **limitaciones en la interpretaci√≥n** de los resultados. La principal limitaci√≥n es la distribuci√≥n altamente desproporcionada de la variable lengua materna, donde aproximadamente el 80% de los encuestados reporta el castellano como su primera lengua.

Esta asimetr√≠a en la distribuci√≥n puede generar dos problemas principales:

1. **Dificultad para comparar grupos minoritarios:** Los valores correspondientes a lenguas maternas distintas del castellano son significativamente menores, lo que limita la posibilidad de obtener inferencias s√≥lidas para estos grupos.

2. **Impacto en la representatividad de los patrones observados:** Debido a la baja frecuencia de algunas categor√≠as, las tendencias dentro de estos subgrupos pueden no ser estad√≠sticamente robustas y estar sujetas a mayor variabilidad.

Por estas razones, cualquier interpretaci√≥n de la relaci√≥n entre nivel educativo y lengua materna debe considerar este sesgo en la distribuci√≥n de los datos.

Pero no hay problema, vamos con nuestro siguiente cruce!

Ahora queremos analizar el cruce del nivel educativo de un encuestado y su ingreso diario aproximado en soles.

In [52]:
df_capital_humano.groupby('nivel_educativo')['ingreso_diario'].mean()

nivel_educativo
B√°sica especial       326.836207
Maestr√≠a/Doctorado    346.514438
Primaria              355.881950
Secundaria            348.513987
Sin nivel             349.720683
Superior              344.738324
Name: ingreso_diario, dtype: float64

**¬°Qu√© extra√±o!** ü§îü§Ø

Los resultados que obtuvimos presentan una distribuci√≥n contraintuitiva del ingreso diario seg√∫n nivel educativo, donde personas con menor educaci√≥n parecen ganar montos similares o incluso mayores que aquellas con estudios superiores. Esta inconsistencia puede explicarse por problemas en la medici√≥n, como el subreporte de ingresos, diferencias en la estructura ocupacional de cada grupo o incluso sesgos en la forma en que se recogen y autodeclaran los datos en encuestas. En otras palabras, m√°s que una relaci√≥n real entre educaci√≥n e ingresos, estos valores reflejan las limitaciones de los datos disponibles (y de nuestro sencillo y humilde procedimiento, que adem√°s carece de un **balanceo muestral**).


**Sin embargo...** üí°üê±‚òùüëì

La lecci√≥n clave aqu√≠ no es solo el resultado, sino el proceso. Aprendimos a construir y analizar una tabla cruzada entre una variable categ√≥rica y una num√©rica, pero tambi√©n a ser cr√≠ticos con nuestros hallazgos. Siempre debemos comparar, contextualizar y cuestionar nuestros resultados antes de interpretarlos como verdades absolutas. Aunque en este caso los datos presentan inconsistencias, el m√©todo sigue siendo √∫til y aplicable a una infinidad de variables en distintos an√°lisis.

### ¬øC√≥mo s√© la codificaci√≥n de la base de datos que estoy usando?

Usaremos la funci√≥n chardet.detect

In [ ]:
!pip install cchardet
import cchardet as chardet

Collecting cchardet
  Downloading cchardet-2.1.7.tar.gz (653 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 653.6/653.6 kB 22.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: cchardet
  Building wheel for cchardet (setup.py) ... done
  Created wheel for cchardet: filename=cchardet-2.1.7-cp310-cp310-linux_x86_64.whl size=289384 sha256=7ffe6050aa42043ecc336ae4b74b1f562f1981d1980d0598d41f2d28b8ec2560
  Stored in directory: /root/.cache/pip/wheels/ee/e0/ab/e01326f15c59438d080b1496dbab8091e952ec72f35e3c437e
Successfully built cchardet
Installing collected packages: cchardet
Successfully installed cchardet-2.1.7

In [ ]:
# Detectar la codificaci√≥n del archivo
def detect_encoding(file_path):
    with open(file_path, 'rb') as file:
        return chardet.detect(file.read())['encoding']

# Usar la funci√≥n
encoding = detect_encoding('Enaho01A-2023-300.csv')
print(encoding)

ISO-8859-10

In [ ]:
enaho_unido.columns

Index(['A≈ÖO_x', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO_x',
       'DOMINIO_x', 'ESTRATO_x', 'CODINFOR_x',
       ...
       'I538E1', 'I5294B', 'I5404B', 'I541A', 'OCU500', 'OCUPINF', 'EMPLPSEC',
       'FAC500A', 'NCONGLOME_y', 'SUB_CONGLOME_y'],
      dtype='object', length=1920)

In [ ]:
# Convertir las columnas a una lista y luego imprimir la lista
column_list = enaho_unido.columns.tolist()
print(column_list)

['A≈ÖO_x', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO_x', 'DOMINIO_x', 'ESTRATO_x', 'CODINFOR_x', 'P300N', 'P300I', 'P300A', 'P301A_x', 'P301B', 'P301C', 'P301D', 'P301A0', 'P301A1', 'P301B0', 'P301B1', 'P301B3', 'P302', 'P302X', 'P302A', 'P302B', 'P303', 'P304A', 'P304B', 'P304C', 'P304D', 'P305', 'P306', 'P307', 'P307A1', 'P307A2', 'P307A3', 'P307A4', 'P307A4_5', 'P307A4_6', 'P307A4_7', 'P307B1', 'P307B2', 'P307B3', 'P307B4', 'P307B4_5', 'P307B4_6', 'P307B4_7', 'P307C', 'P308A', 'P308B', 'P308C', 'P308D', 'P308B1', 'P308B2', 'P308B3', 'P308B4', 'P308B5', 'P308C1', 'P308C2', 'P310', 'P310B1', 'P310C0', 'P310C1', 'P310D1', 'P310D2', 'P310E0', 'P310E1', 'P310E3', 'P311N$1', 'P311N$2', 'P311N$3', 'P311N$4', 'P311N$5', 'P311N$6', 'P311N$7', 'P311N$8', 'P311N$9', 'P311$1', 'P311$2', 'P311$3', 'P311$4', 'P311$5', 'P311$6', 'P311$7', 'P311$8', 'P311$9', 'P311A1$1', 'P311A1$2', 'P311A1$3', 'P311A1$4', 'P311A1$5', 'P311A1$6', 'P311A1$7', 'P311A1$8', 'P311A1$9', 'P311A2$1', 'P311A2$2', 'P311A2$3', 'P311A2$4', 'P311A2$5', 'P311A2$6', 'P311A2$7', 'P311A2$8', 'P311A2$9', 'P311A3$1', 'P311A3$2', 'P311A3$3', 'P311A3$4', 'P311A3$5', 'P311A3$6', 'P311A3$7', 'P311A3$8', 'P311A3$9', 'P311A4$1', 'P311A4$2', 'P311A4$3', 'P311A4$4', 'P311A4$5', 'P311A4$6', 'P311A4$7', 'P311A4$8', 'P311A4$9', 'P311A5$1', 'P311A5$2', 'P311A5$3', 'P311A5$4', 'P311A5$5', 'P311A5$6', 'P311A5$7', 'P311A5$8', 'P311A5$9', 'P311A6$1', 'P311A6$2', 'P311A6$3', 'P311A6$4', 'P311A6$5', 'P311A6$6', 'P311A6$7', 'P311A6$8', 'P311A6$9', 'P311A7$1', 'P311A7$2', 'P311A7$3', 'P311A7$4', 'P311A7$5', 'P311A7$6', 'P311A7$7', 'P311A7$8', 'P311A7$9', 'P311B$1', 'P311B$2', 'P311B$3', 'P311B$4', 'P311B$5', 'P311B$6', 'P311B$7', 'P311B$8', 'P311B$9', 'P311C$1', 'P311C$2', 'P311C$3', 'P311C$4', 'P311C$5', 'P311C$6', 'P311C$7', 'P311C$8', 'P311C$9', 'P311D$1', 'P311D$2', 'P311D$3', 'P311D$4', 'P311D$5', 'P311D$6', 'P311D$7', 'P311D$8', 'P311D$9', 'P311D2$1', 'P311D2$2', 'P311D2$3', 'P311D2$4', 'P311D2$5', 'P311D2$6', 'P311D2$7', 'P311D2$8', 'P311D2$9', 'P311D3$1', 'P311D3$2', 'P311D3$3', 'P311D3$4', 'P311D3$5', 'P311D3$6', 'P311D3$7', 'P311D3$8', 'P311D3$9', 'P311D4$1', 'P311D4$2', 'P311D4$3', 'P311D4$4', 'P311D4$5', 'P311D4$6', 'P311D4$7', 'P311D4$8', 'P311D4$9', 'P311D5$1', 'P311D5$2', 'P311D5$3', 'P311D5$4', 'P311D5$5', 'P311D5$6', 'P311D5$7', 'P311D5$8', 'P311D5$9', 'P311D6$1', 'P311D6$2', 'P311D6$3', 'P311D6$4', 'P311D6$5', 'P311D6$6', 'P311D6$7', 'P311D6$8', 'P311D6$9', 'P311D7$1', 'P311D7$2', 'P311D7$3', 'P311D7$4', 'P311D7$5', 'P311D7$6', 'P311D7$7', 'P311D7$8', 'P311D7$9', 'P311E$1', 'P311E$2', 'P311E$3', 'P311E$4', 'P311E$5', 'P311E$6', 'P311E$7', 'P311E$8', 'P311E$9', 'P311T1', 'P311T22', 'P311T23', 'P311T24', 'P311T25', 'P311T26', 'P311T27', 'P311T2', 'P3121', 'P3121A1', 'P3121A2', 'P3121A3', 'P3121A4', 'P3121A5', 'P3121A6', 'P3121B', 'P3121C', 'P3121C2', 'P3121C3', 'P3121C4', 'P3121C5', 'P3121C6', 'P3121D', 'P3122', 'P3122A1', 'P3122A2', 'P3122A3', 'P3122A4', 'P3122A5', 'P3122A6', 'P3122B', 'P3122C', 'P3122C2', 'P3122C3', 'P3122C4', 'P3122C5', 'P3122C6', 'P3122D', 'P312T1', 'P312T22', 'P312T23', 'P312T24', 'P312T25', 'P312T26', 'P312T2', 'P313', 'P314A', 'P314B$1', 'P314B$2', 'P314B$3', 'P314B$4', 'P314B$5', 'P314B$6', 'P314B$7', 'P314B1_1', 'P314B1_2', 'P314B1_6', 'P314B1_7', 'P314B1_8', 'P314B1_9', 'P314D', 'P3151', 'P3152', 'P3153', 'P3154', 'P3155', 'P3156', 'P315A', 'P315B', 'P315B2', 'P315B3', 'P315B4', 'P315B5', 'P315B6', 'P316$1', 'P316$2', 'P316$3', 'P316$4', 'P316$5', 'P316$6', 'P316$7', 'P316$8', 'P316$9', 'P316$10', 'P316$11', 'P316$12', 'P316A1', 'P316A2', 'P316A3', 'P316A4', 'P316A5', 'P316A6', 'P316B', 'P316C1', 'P316C2', 'P316C3', 'P316C4', 'P316C5', 'P316C6', 'P316C7', 'P316C8', 'P316C9', 'P316C10', 'T313A', 'P203_x', 'P204_x', 'P205_x', 'P206_x', 'P207_x', 'P208A_x', 'P209_x', 'IMPUTADO_x', 'TICUEST01A_x', 'D311B$1', 'D311D2$1', 'D311D3$1', 'D311D4$1', 'D311D5$1', 'D311D6$1', 'D311D7$1', 'D311D$1', 'D311B$2', 'D311D2$2', 'D311D3$2', 'D311D4$2', 'D311D5$2', 'D311D6$2', 'D311D7$2', 'D311D$2', 'D311B$3', 'D311D2$3', 'D311D3$3', 'D311D4$3', 'D311D5$3', 'D311D6$3', 'D311D7$3', 'D311D$3', 'D311B$4', 'D311D2$4', 'D311D3$4', 'D311D4$4', 'D311D5$4', 'D311D6$4', 'D311D7$4', 'D311D$4', 'D311B$5', 'D311D2$5', 'D311D3$5', 'D311D4$5', 'D311D5$5', 'D311D6$5', 'D311D7$5', 'D311D$5', 'D311B$6', 'D311D2$6', 'D311D3$6', 'D311D4$6', 'D311D5$6', 'D311D6$6', 'D311D7$6', 'D311D$6', 'D311B$7', 'D311D2$7', 'D311D3$7', 'D311D4$7', 'D311D5$7', 'D311D6$7', 'D311D7$7', 'D311D$7', 'D3121B', 'D3121C2', 'D3121C3', 'D3121C4', 'D3121C5', 'D3121C6', 'D3121C', 'D3122B', 'D3122C2', 'D3122C3', 'D3122C4', 'D3122C5', 'D3122C6', 'D3122C', 'D315A', 'D315B2', 'D315B3', 'D315B4', 'D315B5', 'D315B6', 'D315B', 'I311B$1', 'I311B$2', 'I311B$4', 'I311B$6', 'I311B$3', 'I311B$5', 'I311B$7', 'I311D2$1', 'I311D3$1', 'I311D4$1', 'I311D5$1', 'I311D6$1', 'I311D7$1', 'I311D2$2', 'I311D3$2', 'I311D4$2', 'I311D5$2', 'I311D6$2', 'I311D7$2', 'I311D2$4', 'I311D3$4', 'I311D4$4', 'I311D5$4', 'I311D6$4', 'I311D7$4', 'I311D2$6', 'I311D3$6', 'I311D4$6', 'I311D5$6', 'I311D6$6', 'I311D7$6', 'I311D2$3', 'I311D3$3', 'I311D4$3', 'I311D5$3', 'I311D6$3', 'I311D7$3', 'I311D2$5', 'I311D3$5', 'I311D4$5', 'I311D5$5', 'I311D6$5', 'I311D7$5', 'I311D2$7', 'I311D3$7', 'I311D4$7', 'I311D5$7', 'I311D6$7', 'I311D7$7', 'I3121B', 'I3122B', 'I3121C2', 'I3121C3', 'I3121C4', 'I3121C5', 'I3121C6', 'I3122C2', 'I3122C3', 'I3122C4', 'I3122C5', 'I3122C6', 'I315A', 'I315B2', 'I315B3', 'I315B4', 'I315B5', 'I315B6', 'I311D$1', 'I311D$2', 'I311D$3', 'I311D$4', 'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B', 'FACTOR07', 'FACTORA07', 'NCONGLOME_x', 'SUB_CONGLOME_x', 'A≈ÖO_y', 'UBIGEO_y', 'DOMINIO_y', 'ESTRATO_y', 'CODINFOR_y', 'P500A', 'P500B', 'P500B1', 'P500C', 'P500D', 'P500D1', 'P500N', 'P500I', 'P501', 'P502', 'P503', 'P504', 'P5041', 'P5042', 'P5043', 'P5044', 'P5045', 'P5046', 'P5047', 'P5048', 'P5049', 'P50410', 'P50411', 'P505', 'P505R4', 'P505B', 'P506', 'P506R4', 'P507', 'P508', 'P509', 'P510', 'P510A1', 'P510B', 'P5111', 'P5112', 'P5113', 'P5114', 'P5115', 'P5116', 'P5117', 'P5118', 'P5119', 'P51110', 'P51111', 'P51112', 'P511A', 'P512A', 'P512B', 'P513', 'P513A', 'P513B', 'P513C', 'P513D', 'P513E', 'P513F', 'P513G', 'P513T', 'P513A1', 'P513A2', 'P514', 'P5151', 'P5152', 'P5153', 'P5154', 'P5155', 'P5156', 'P5157', 'P5158', 'P5159', 'P51510', 'P51511', 'P516', 'P516R4', 'P517', 'P517A', 'P517B1', 'P517C', 'P517D1', 'P517D2', 'P518', 'P519', 'P520', 'P520A', 'P521', 'P521A', 'P521B', 'P521B1', 'P521C', 'P521D', 'P523', 'P524A1', 'P524A2', 'P524B1', 'P524B2', 'P524C1', 'P524C2', 'P524D1', 'P524D2', 'P524E1', 'P524E2', 'P528', 'P5291A', 'P5291B', 'P5291C', 'P5292A', 'P5292B', 'P5292C', 'P5293A', 'P5293B', 'P5293C', 'P5294A', 'P5294B', 'P5294C', 'P5295A', 'P5295B', 'P5295C', 'P5296A', 'P5296B', 'P5296C', 'P529T', 'P5297A', 'P530A', 'P530B', 'P535', 'P536', 'P5371', 'P5372', 'P5373', 'P5374', 'P5375', 'P5376', 'P5377', 'P5378', 'P5379', 'P53710', 'P53711', 'P53712', 'P538A1', 'P538A2', 'P538B1', 'P538B2', 'P538C1', 'P538C2', 'P538D1', 'P538D2', 'P538E1', 'P538E2', 'P539', 'P5401A', 'P5401B', 'P5401C', 'P5402A', 'P5402B', 'P5402C', 'P5403A', 'P5403B', 'P5403C', 'P5404A', 'P5404B', 'P5404C', 'P5405A', 'P5405B', 'P5405C', 'P5406A', 'P5406B', 'P5406C', 'P540T', 'P5407A', 'P541A', 'P541B', 'P542', 'P543', 'P5441A', 'P5441B', 'P5442A', 'P5442B', 'P5443A', 'P5443B', 'P5444A', 'P5444B', 'P5445A', 'P5445B', 'P5446A', 'P5446B', 'P5447A', 'P5447B', 'P5448A', 'P5448B', 'P544T', 'P545', 'P546', 'P547', 'P548', 'P549', 'P550_1', 'P550_2', 'P550_3', 'P550_4', 'P550_5', 'P550_6', 'P550_7', 'P550_GI', 'P551', 'P552', 'P554', 'P554R4', 'P555', 'P5561A', 'P5561B', 'P5561C', 'P5561D', 'P5561E', 'P5562A', 'P5562B', 'P5562C', 'P5562D', 'P5562E', 'P5563A', 'P5563B', 'P5563C', 'P5563C1', 'P5563D', 'P5563E', 'P5563F', 'P5563G', 'P5564A', 'P5564B', 'P5564C', 'P5564D', 'P5564E', 'P5565A', 'P5565B', 'P5565C', 'P5565D', 'P5565E', 'P5566A', 'P5566B', 'P5566C', 'P5566D', 'P5566E', 'P5567A', 'P5567B', 'P5567C', 'P5567D', 'P5567E', 'P5568A', 'P5568B', 'P5568C', 'P5568D', 'P5568E', 'P5569A', 'P5569B', 'P5569C', 'P5569D', 'P5569E', 'P55610A', 'P55610B', 'P55610C', 'P55610D', 'P55610E', 'P55611A', 'P55611B', 'P55611C', 'P55611D', 'P55611E', 'P55612A', 'P55612B', 'P55612C', 'P55612D', 'P55612E', 'P55613A', 'P55613B', 'P55613C', 'P55613D', 'P55613E', 'P55614A', 'P55614B', 'P55614C', 'P55614D', 'P55614E', 'P55620A', 'P55620B', 'P55620C', 'P55620D', 'P55620E', 'P55621A', 'P55621B', 'P55621C', 'P55621D', 'P55621E', 'P55622A', 'P55622B', 'P55622C', 'P55622D', 'P55622E', 'P55623A', 'P55623B', 'P55623C', 'P55623D', 'P55623E', 'P55624A', 'P55624B', 'P55624C', 'P55624D', 'P55624E', 'P55625A', 'P55625B', 'P55625C', 'P55625D', 'P55625E', 'P55626A', 'P55626B', 'P55626C', 'P55626D', 'P55626E', 'P55627A', 'P55627B', 'P55627C', 'P55627D', 'P55627E', 'P55628A', 'P55628B', 'P55628C', 'P55628D', 'P55628E', 'P556T1', 'P556T2', 'P5571A', 'P5571B', 'P5571C', 'P5572A', 'P5572B', 'P5572C', 'P5573A', 'P5573B', 'P5573C', 'P5574A', 'P5574B', 'P5574C', 'P5575A', 'P5575B', 'P5575C', 'P5576A', 'P5576B', 'P5576C', 'P5577A', 'P5577B', 'P5577C', 'P5578A', 'P5578B', 'P5578C', 'P557T', 'P5581A', 'P5581B', 'P5582A', 'P5582B', 'P5583A', 'P5583B', 'P5584A', 'P5584B', 'P5585A', 'P5585B', 'P5586A', 'P5586B', 'P5587A', 'P5587B', 'P5588A', 'P5588B', 'P5589A', 'P5589B', 'P55810A', 'P55810B', 'P558T', 'P558T1', 'P558A1', 'P558A2', 'P558A3', 'P558A4', 'P558A5', 'P558B1', 'P558B2', 'P558B3', 'P558C', 'P558D2_1', 'P558D2_2', 'P558E1_1', 'P558E1_2', 'P558E1_3', 'P558E1_6', 'P558E1_7', 'P558E2_1', 'P558E3_1', 'P558E2_2', 'P558E3_2', 'P558F1A', 'P558F1B', 'P558G1', 'P558G2', 'P558G3', 'P558G5', 'P558G6', 'P558G7', 'P558H1_1', 'P558H1_2', 'P558H1_3', 'P558H1_4', 'P558H1_5', 'P558H1_6', 'P558H2_1', 'P558H2_2', 'P558H2_3', 'P558H2_4', 'P558H2_5', 'P558H2_6', 'P558H3_1', 'P558H3_2', 'P558H3_3', 'P558H3_4', 'P558H3_5', 'P558H3_6', 'P558H4_1', 'P558H4_2', 'P558H4_3', 'P558H4_4', 'P558H4_5', 'P558H4_6', 'P558H5_1', 'P558H5_2', 'P558H5_3', 'P558H5_4', 'P558H5_5', 'P558H5_6', 'P558H6_1', 'P558H6_2', 'P558H6_3', 'P558H6_4', 'P558H6_5', 'P558H6_6', 'P558H7_1', 'P558H7_2', 'P558H7_3', 'P558H7_4', 'P558H7_5', 'P558H7_6', 'P558H8_1', 'P558H8_2', 'P558H8_3', 'P558H8_4', 'P558H8_5', 'P558H8_6', 'P558H9_1', 'P558H9_2', 'P558H9_3', 'P558H9_4', 'P558H9_5', 'P558H9_6', 'P558H10_1', 'P558H10_2', 'P558H10_3', 'P558H10_4', 'P558H10_5', 'P558H10_6', 'P558H11_1', 'P558H11_2', 'P558H11_3', 'P558H11_4', 'P558H11_5', 'P558H11_6', 'P558H12_1', 'P558H12_2', 'P558H12_3', 'P558H12_4', 'P558H12_5', 'P558H12_6', 'P559$01', 'P559$02', 'P559$03', 'P559$04', 'P559$05', 'P559$06', 'P559$07', 'P559$08', 'P559$09', 'P559$10', 'P559$11', 'P559$12', 'P559$13', 'P559$14', 'P559$15', 'P559$16', 'P559$17', 'P559$18', 'P559$19', 'P559$20', 'P559$21', 'P559$22', 'P559$23', 'P559$24', 'P559$25', 'P559$26', 'P559$27', 'P559$28', 'P559$29', 'P559$30', 'P559$31', 'P559$32', 'P559$33', 'P559$34', 'P559$35', 'P559$36', 'P559$37', 'P559$38', 'P559$39', 'P559$40', 'P559$41', 'P559$42', 'P559$43', 'P559$44', 'P559$45', 'P559$46', 'P559$47', 'P559$48', 'P559$49', 'P559$50', 'P559T$01', 'P559T$02', 'P559T$03', 'P559T$04', 'P559T$05', 'P559T$06', 'P559T$07', 'P559T$08', 'P559T$09', 'P559T$10', 'P559T$11', 'P559T$12', 'P559T$13', 'P559T$14', 'P559T$15', 'P559T$16', 'P559T$17', 'P559T$18', 'P559T$19', 'P559T$20', 'P559T$21', 'P559T$22', 'P559T$23', 'P559T$24', 'P559T$25', 'P559T$26', 'P559T$27', 'P559T$28', 'P559T$29', 'P559T$30', 'P559T$31', 'P559T$32', 'P559T$33', 'P559T$34', 'P559T$35', 'P559T$36', 'P559T$37', 'P559T$38', 'P559T$39', 'P559T$40', 'P559T$41', 'P559T$42', 'P559T$43', 'P559T$44', 'P559T$45', 'P559T$46', 'P559T$47', 'P559T$48', 'P559T$49', 'P559T$50', 'P559A$01', 'P559A$02', 'P559A$03', 'P559A$04', 'P559A$05', 'P559A$06', 'P559A$07', 'P559A$08', 'P559A$09', 'P559A$10', 'P559A$11', 'P559A$12', 'P559A$13', 'P559A$14', 'P559A$15', 'P559A$16', 'P559A$17', 'P559A$18', 'P559A$19', 'P559A$20', 'P559A$21', 'P559A$22', 'P559A$23', 'P559A$24', 'P559A$25', 'P559A$26', 'P559A$27', 'P559A$28', 'P559A$29', 'P559A$30', 'P559A$31', 'P559A$32', 'P559A$33', 'P559A$34', 'P559A$35', 'P559A$36', 'P559A$37', 'P559A$38', 'P559A$39', 'P559A$40', 'P559A$41', 'P559A$42', 'P559A$43', 'P559A$44', 'P559A$45', 'P559A$46', 'P559A$47', 'P559A$48', 'P559A$49', 'P559A$50', 'P559B$01', 'P559B$02', 'P559B$03', 'P559B$04', 'P559B$05', 'P559B$06', 'P559B$07', 'P559B$08', 'P559B$09', 'P559B$10', 'P559B$11', 'P559B$12', 'P559B$13', 'P559B$14', 'P559B$15', 'P559B$16', 'P559B$17', 'P559B$18', 'P559B$19', 'P559B$20', 'P559B$21', 'P559B$22', 'P559B$23', 'P559B$24', 'P559B$25', 'P559B$26', 'P559B$27', 'P559B$28', 'P559B$29', 'P559B$30', 'P559B$31', 'P559B$32', 'P559B$33', 'P559B$34', 'P559B$35', 'P559B$36', 'P559B$37', 'P559B$38', 'P559B$39', 'P559B$40', 'P559B$41', 'P559B$42', 'P559B$43', 'P559B$44', 'P559B$45', 'P559B$46', 'P559B$47', 'P559B$48', 'P559B$49', 'P559B$50', 'P559C$01', 'P559C$02', 'P559C$03', 'P559C$04', 'P559C$05', 'P559C$06', 'P559C$07', 'P559C$08', 'P559C$09', 'P559C$10', 'P559C$11', 'P559C$12', 'P559C$13', 'P559C$14', 'P559C$15', 'P559C$16', 'P559C$17', 'P559C$18', 'P559C$19', 'P559C$20', 'P559C$21', 'P559C$22', 'P559C$23', 'P559C$24', 'P559C$25', 'P559C$26', 'P559C$27', 'P559C$28', 'P559C$29', 'P559C$30', 'P559C$31', 'P559C$32', 'P559C$33', 'P559C$34', 'P559C$35', 'P559C$36', 'P559C$37', 'P559C$38', 'P559C$39', 'P559C$40', 'P559C$41', 'P559C$42', 'P559C$43', 'P559C$44', 'P559C$45', 'P559C$46', 'P559C$47', 'P559C$48', 'P559C$49', 'P559C$50', 'P559D$01', 'P559D$02', 'P559D$03', 'P559D$04', 'P559D$05', 'P559D$06', 'P559D$07', 'P559D$08', 'P559D$09', 'P559D$10', 'P559D$11', 'P559D$12', 'P559D$13', 'P559D$14', 'P559D$15', 'P559D$16', 'P559D$17', 'P559D$18', 'P559D$19', 'P559D$20', 'P559D$21', 'P559D$22', 'P559D$23', 'P559D$24', 'P559D$25', 'P559D$26', 'P559D$27', 'P559D$28', 'P559D$29', 'P559D$30', 'P559D$31', 'P559D$32', 'P559D$33', 'P559D$34', 'P559D$35', 'P559D$36', 'P559D$37', 'P559D$38', 'P559D$39', 'P559D$40', 'P559D$41', 'P559D$42', 'P559D$43', 'P559D$44', 'P559D$45', 'P559D$46', 'P559D$47', 'P559D$48', 'P559D$49', 'P559D$50', 'P559E$01', 'P559E$02', 'P559E$03', 'P559E$04', 'P559E$05', 'P559E$06', 'P559E$07', 'P559E$08', 'P559E$09', 'P559E$10', 'P559E$11', 'P559E$12', 'P559E$13', 'P559E$14', 'P559E$15', 'P559E$16', 'P559E$17', 'P559E$18', 'P559E$19', 'P559E$20', 'P559E$21', 'P559E$22', 'P559E$23', 'P559E$24', 'P559E$25', 'P559E$26', 'P559E$27', 'P559E$28', 'P559E$29', 'P559E$30', 'P559E$31', 'P559E$32', 'P559E$33', 'P559E$34', 'P559E$35', 'P559E$36', 'P559E$37', 'P559E$38', 'P559E$39', 'P559E$40', 'P559E$41', 'P559E$42', 'P559E$43', 'P559E$44', 'P559E$45', 'P559E$46', 'P559E$47', 'P559E$48', 'P559E$49', 'P559E$50', 'P59F1$01', 'P59F1$02', 'P59F1$03', 'P59F1$04', 'P59F1$05', 'P59F1$06', 'P59F1$07', 'P59F1$08', 'P59F1$09', 'P59F1$10', 'P59F1$11', 'P59F1$12', 'P59F1$13', 'P59F1$14', 'P59F1$15', 'P59F1$16', 'P59F1$17', 'P59F1$18', 'P59F1$19', 'P59F1$20', 'P59F1$21', 'P59F1$22', 'P59F1$23', 'P59F1$24', 'P59F1$25', 'P59F1$26', 'P59F1$27', 'P59F1$28', 'P59F1$29', 'P59F1$30', 'P59F1$31', 'P59F1$32', 'P59F1$33', 'P59F1$34', 'P59F1$35', 'P59F1$36', 'P59F1$37', 'P59F1$38', 'P59F1$39', 'P59F1$40', 'P59F1$41', 'P59F1$42', 'P59F1$43', 'P59F1$44', 'P59F1$45', 'P59F1$46', 'P59F1$47', 'P59F1$48', 'P59F1$49', 'P59F1$50', 'P59F2$01', 'P59F2$02', 'P59F2$03', 'P59F2$04', 'P59F2$05', 'P59F2$06', 'P59F2$07', 'P59F2$08', 'P59F2$09', 'P59F2$10', 'P59F2$11', 'P59F2$12', 'P59F2$13', 'P59F2$14', 'P59F2$15', 'P59F2$16', 'P59F2$17', 'P59F2$18', 'P59F2$19', 'P59F2$20', 'P59F2$21', 'P59F2$22', 'P59F2$23', 'P59F2$24', 'P59F2$25', 'P59F2$26', 'P59F2$27', 'P59F2$28', 'P59F2$29', 'P59F2$30', 'P59F2$31', 'P59F2$32', 'P59F2$33', 'P59F2$34', 'P59F2$35', 'P59F2$36', 'P59F2$37', 'P59F2$38', 'P59F2$39', 'P59F2$40', 'P59F2$41', 'P59F2$42', 'P59F2$43', 'P59F2$44', 'P59F2$45', 'P59F2$46', 'P59F2$47', 'P59F2$48', 'P59F2$49', 'P59F2$50', 'P560T$01', 'P560T$02', 'P560T$03', 'P560T$04', 'P560T$05', 'P560T$06', 'P560T$07', 'P560T$08', 'P560T$09', 'P560T$10', 'P560A1$01', 'P560A1$02', 'P560A1$03', 'P560A1$04', 'P560A1$05', 'P560A1$06', 'P560A1$07', 'P560A1$08', 'P560A1$09', 'P560A1$10', 'P560A$01', 'P560A$02', 'P560A$03', 'P560A$04', 'P560A$05', 'P560A$06', 'P560A$07', 'P560A$08', 'P560A$09', 'P560A$10', 'P560C$01', 'P560C$02', 'P560C$03', 'P560C$04', 'P560C$05', 'P560C$06', 'P560C$07', 'P560C$08', 'P560C$09', 'P560C$10', 'P560D$01', 'P560D$02', 'P560D$03', 'P560D$04', 'P560D$05', 'P560D$06', 'P560D$07', 'P560D$08', 'P560D$09', 'P560D$10', 'P560E$01', 'P560E$02', 'P560E$03', 'P560E$04', 'P560E$05', 'P560E$06', 'P560E$07', 'P560E$08', 'P560E$09', 'P560E$10', 'P560F1$01', 'P560F1$02', 'P560F1$03', 'P560F1$04', 'P560F1$05', 'P560F1$06', 'P560F1$07', 'P560F1$08', 'P560F1$09', 'P560F1$10', 'P560F2$01', 'P560F2$02', 'P560F2$03', 'P560F2$04', 'P560F2$05', 'P560F2$06', 'P560F2$07', 'P560F2$08', 'P560F2$09', 'P560F2$10', 'P599', 'P203_y', 'P204_y', 'P205_y', 'P206_y', 'P207_y', 'P208A_y', 'P209_y', 'P301A_y', 'IMPUTADO_y', 'TICUEST01A_y', 'D524A1', 'D524B1', 'D524C1', 'D524D1', 'D524E1', 'D5291B', 'D5292B', 'D5293B', 'D5294B', 'D5295B', 'D5296B', 'D529T', 'D530A', 'D536', 'D538A1', 'D538B1', 'D538C1', 'D538D1', 'D538E1', 'D5401B', 'D5402B', 'D5403B', 'D5404B', 'D5405B', 'D5406B', 'D540T', 'D541A', 'D543', 'D5441B', 'D5442B', 'D5443B', 'D5444B', 'D5445B', 'D5446B', 'D5447B', 'D5448B', 'D544T', 'D5561C', 'D5561E', 'D5562C', 'D5562E', 'D5563C', 'D5563E', 'D5564C', 'D5564E', 'D5565C', 'D5565E', 'D5566C', 'D5566E', 'D5567C', 'D5567E', 'D5568C', 'D5568E', 'D5569C', 'D5569E', 'D55610C', 'D55610E', 'D55611C', 'D55611E', 'D55612C', 'D55612E', 'D55613C', 'D55613E', 'D55614C', 'D55614E', 'D55620C', 'D55620E', 'D55621C', 'D55621E', 'D55622C', 'D55622E', 'D55623C', 'D55623E', 'D55624C', 'D55624E', 'D55625C', 'D55625E', 'D55626C', 'D55626E', 'D55627C', 'D55627E', 'D55628C', 'D55628E', 'D556T1', 'D556T2', 'D5571C', 'D5572C', 'D5573C', 'D5574C', 'D5575C', 'D5576C', 'D5577C', 'D5578C', 'D557T', 'D558T', 'D559D1', 'D559D2', 'D559D3', 'D559D41', 'D559D42', 'D559D43', 'D559D44', 'D559D45', 'D559D46', 'D559D47', 'D559D48', 'D559D49', 'D559D410', 'D559D411', 'D559D412', 'D559D413', 'D559D414', 'D559D415', 'D559D416', 'D559D417', 'D559D418', 'D559D419', 'D559D420', 'D559D421', 'D559D422', 'D559D423', 'D559D424', 'D559D425', 'D559D426', 'D559D427', 'D559D428', 'D559D429', 'D559D430', 'D559D431', 'D559D432', 'D559D433', 'D559D434', 'D559D435', 'D559D436', 'D559D437', 'D559D438', 'D559D439', 'D559D440', 'D559D441', 'D559D442', 'D559D443', 'D559D444', 'D559D445', 'D559D446', 'D559D447', 'D560D1', 'D560D2', 'D560D3', 'D560D4', 'D560D5', 'D560D6', 'D560D7', 'D560D8', 'D560D9', 'D560D10', 'T559B$01', 'T559B$02', 'T559B$03', 'T559B$04', 'T559B$05', 'T559B$06', 'T559B$07', 'T559B$08', 'T559B$09', 'T559B$10', 'T559B$11', 'T559B$12', 'T559B$13', 'T559B$14', 'T559B$15', 'T559B$16', 'T559B$17', 'T559B$18', 'T559B$19', 'T559B$20', 'T559B$21', 'T559B$22', 'T559B$23', 'T559B$24', 'T559B$25', 'T559B$26', 'T559B$27', 'T559B$28', 'T559B$29', 'T559B$30', 'T559B$31', 'T559B$32', 'T559B$33', 'T559B$34', 'T559B$35', 'T559B$36', 'T559B$37', 'T559B$38', 'T559B$39', 'T559B$40', 'T559B$41', 'T559B$42', 'T559B$43', 'T559B$44', 'T559B$45', 'T559B$46', 'T559B$47', 'T559B$48', 'T559B$49', 'T559B$50', 'Z559B$01', 'Z559B$02', 'Z559B$03', 'Z559B$04', 'Z559B$05', 'Z559B$06', 'Z559B$07', 'Z559B$08', 'Z559B$09', 'Z559B$10', 'Z559B$11', 'Z559B$12', 'Z559B$13', 'Z559B$14', 'Z559B$15', 'Z559B$16', 'Z559B$17', 'Z559B$18', 'Z559B$19', 'Z559B$20', 'Z559B$21', 'Z559B$22', 'Z559B$23', 'Z559B$24', 'Z559B$25', 'Z559B$26', 'Z559B$27', 'Z559B$28', 'Z559B$29', 'Z559B$30', 'Z559B$31', 'Z559B$32', 'Z559B$33', 'Z559B$34', 'Z559B$35', 'Z559B$36', 'Z559B$37', 'Z559B$38', 'Z559B$39', 'Z559B$40', 'Z559B$41', 'Z559B$42', 'Z559B$43', 'Z559B$44', 'Z559B$45', 'Z559B$46', 'Z559B$47', 'Z559B$48', 'Z559B$49', 'Z559B$50', 'I559D1', 'I559D2', 'I559D3', 'I559D41', 'I559D42', 'I559D43', 'I559D44', 'I559D45', 'I

## Lista de funciones y paquetes vistos hoy

Para conectar drive:

import os
from google.colab import drive

drive.mount("/content/drive", force_remount=True)


Funciones para leer archivos de la librer√≠a pandas

import pandas as pd

- csv: pd.read_csv
- xlsx: pd.read_excel
- spss: pd.read_spss (terminaci√≥n .sav)
- sql: pd.read_sql

Atributos:

.columns: Devuelve las etiquetas de las columnas del DataFrame.

.index: Devuelve las etiquetas de las filas del DataFrame.

.dtypes: Devuelve los tipos de datos de cada columna en el DataFrame.

.shape: Devuelve una tupla que representa la dimensionalidad del DataFrame, es decir, (n√∫mero de filas, n√∫mero de columnas).

.size: Devuelve el n√∫mero total de elementos en el DataFrame.

Pr√≥x clase: **Creaci√≥n de gr√°ficos y visualizaci√≥n de datos**
- Introducci√≥n a las librer√≠as Matplotlib y Seaborn para visualizaci√≥n de datos
- Creaci√≥n de gr√°ficos de barras, histogramas, gr√°ficos de l√≠neas y gr√°ficos de dispersi√≥n
- Personalizaci√≥n de gr√°ficos: t√≠tulos, etiquetas y leyendas
- Interpretaci√≥n de gr√°ficos en el contexto de an√°lisis social

In [ ]:
print("Gracias por atender! :)")

Gracias por atender! :)